<!DOCTYPE html>
<html>
    <head>
        <title>Tokens</title>
        <link rel="stylesheet" href="../static/Plan-Style.css">

        <style>
            td {
              font-size: 15px;
            }
        </style>
    </head>
    <body>
        <h1 class="main-header" style="margin-bottom: 35px;">{{.PageTitle}}</h2>

        <table>
            <tr>
              <th class="yellow">Token Type</th>
              <th class="yellow">Literal</th>
              <th class="yellow">Row</th>
              <th class="yellow">Col</th>
              <th class="yellow">BlockNo</th>
            </tr>
        
            {{range .Tokens}}
                <tr>
                    <td>{{.Type}}</td>
                    <td>{{.Literal}}</td>
                    <td>{{.Row}}</td>
                    <td>{{.Col}}</td>
                    <td>{{.BlockNo}}</td>
                </tr>
            {{end}}
          </table>
    </body>
</html>
