body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #282c34;
}

.main-header {
  color: #61dafb;
  border-bottom: 1px solid #61dafb;
  margin: 0px 40px;
  display: inline-block;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
  margin-left: 40px;
  margin-bottom: 30px;
  color: #61dafb;
  letter-spacing: 1.5px;
  font-size: 18px;
}

ul li::before {
  content: "\2022";  
  color: #FFBF00; 
  font-weight: bold; 
  font-size: 25px;
  display: inline-block;
  width: 1rem; 
  margin-left: -1em; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 18px;
  color: #61dafb;
  font-size: 20px;
}

th {
  color: #FFBF00;
}

tr:nth-child(even) {
  background-color: #1f1f1f;
}

.yellow {
  color: #FFBF00;
}

.red {
  color: rgb(179, 13, 13);
}

.font-size-small {
  font-size: 14px;
}